<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserMapper">

	<resultMap id="BaseResultMap" type="com.example.demo.model.User">
		<id column="user_id" jdbcType="INTEGER" property="userId"/>
		<result column="user_name" jdbcType="NVARCHAR" property="userName"/>
		<result column="user_age" jdbcType="INTEGER" property="userAge"/>
	</resultMap>

	<insert id="insertUser" parameterType="com.example.demo.model.User" useGeneratedKeys="true" keyProperty="userId">
		insert into user_info(userName,userAge)
		values (
			#{userName}
			#{userAge}	
		)
	</insert>
	
	<select id="getAllUser" resultMap="BaseResultMap">
		select * from user_info
	</select>
	
	<select id="getUserById" parameterType="int" resultMap="BaseResultMap">
		select * 
		from user_info
		where user_id = #{userId}
	</select>
	
    <update id="updateUserById" parameterType="com.example.demo.model.User" >
        update user_info
        set user_age=#{userAge}
        where user_id=#{userId} 
    </update>
	
	<delete id="deleteUser" parameterType="int">
		delete from user_info
		where userId = #{userId}
	</delete>
</mapper>