<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
	<meta charset="utf-8">
	<title>User List</title>
	</head>
	<body>
		<div>
			<h1 th:text = "${title}"></h1>
			<table border ="1">
				<tr>
					<td>編號</td>
					<td>名稱</td>
					<td>年齡</td>
				</tr>
				<tr th:each = "user:${userList}" style="text-algin:center">
					<td id="userId" th:text = "${user.userId}"></td>
					<td th:text = "${user.userName}"></td>
					<td>
					 	<span id = "userAge" th:text = "${user.userAge}"></span>
					 	<input type="text" id = "userAgeTxtbox" th:value = "${user.userAge}"  style="display:none" maxlength = 2 size = 2>
					</td>
				</tr>
			</table>
		</div>
		<input type="button" id = "updateAge" value = "更新年齡"  onclick="updateAge()"/>
	</body>
	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script>
	
		re = /^(0?[1-9]|[1-9][0-9])$/	
	
		var flag = true;
		
		function updateAge(){
			if(flag){
				$("span#userAge").hide();
				$("input#userAgeTxtbox").show();
				alert("請更新");
				flag = false;					
			}else{
				var age = parseInt($("#userAgeTxtbox").val());
				var url = "/demo/updateUserById/"+$("#userId").text()+"/"+age;
				if(re.test(age)){
					$("#userAge").text(age);
					$("span#userAge").show();
					$("input#userAgeTxtbox").hide();
					window.location = url ;
					alert("更新完成");
					flag = true;
				}else{
					alert("格式錯誤")
				}
			}
		}
	</script>
</html>
