<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
	<meta charset="utf-8">
	<title>User List</title>
	</head>
	<body>
		<div>
			<h1 th:text = "${title}"></h1>
			<table border ="1">
				<tr>
					<td>編號</td>
					<td>名稱</td>
					<td>年齡</td>
				</tr>
				<tr th:each = "user,status:${userList}" style="text-algin:center">
					<td th:id="'userId'+${status.index}" th:text = "${user.userId}"></td>
					<td th:id = "'userName'+${status.index}"th:text = "${user.userName}"></td>
					<td>
					 	<span th:id = "userAge" th:text = "${user.userAge}"></span>
					 	<input type="text" th:id = "'userAgeTxtbox'+${status.index}" name = "userAgeTxtbox" th:value = "${user.userAge}"  style="display:none" maxlength = 2 size = 2>
					</td>
				</tr>
			</table>
		</div>
		<span>
			<input type="button" id = "addUser" value = "新增使用者"  onclick="addUser()"/>			
		</span>
		<span>
			<input type="button" id = "updateAge" value = "更新年齡"  onclick="updateAge()"/>
		</span>
		
	</body>
	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script>
	
		re = /^(0?[1-9]|[1-9][0-9])$/	
	
		var flag = true;
		var oriAge = getOriAge();
		
		function updateAge(){
			
			if(flag){
				$("span#userAge").hide();
				$('input[name = "userAgeTxtbox"]').show();
				alert("請更新");
				flag = false;					
			}else{
				var changeCnt = 0;
				var updateUserId = new Array();
				var updateUserAge= new Array();
				for(i=0;i<oriAge.length;i++){
					updateAge = $("input#userAgeTxtbox"+i).val();
					var age = oriAge[i];
					if(age != updateAge){
						if(re.test(updateAge)){
							var userId = $("#userId"+i).text();
							updateUserId.push(userId);
							updateUserAge.push(updateAge);
							$("#userAge").text(age);
							$("span#userAge").show();
							$('input[name = "userAgeTxtbox"]').hide();
							changeCnt++
							flag = true;
						}else{
							alert("格式錯誤")
						}
					}
				}
				if(changeCnt > 0){
					var url = "/demo/User/updateUserById/"+updateUserId+"/"+updateUserAge;
					window.location = url ;
					alert(changeCnt+"筆資料更新完成");
				}
			}
		}
		
		function addUser(){
			var url = "/demo/User/addUser/";
			window.location = url ;
		}
		
		function getOriAge() {
			
			var oriAge = new Array();
			$('input[name="userAgeTxtbox"]').each(function (i) {
				oriAge[i] = $(this).val();
			})
			return oriAge;
		}
	</script>
</html>
